openapi: 3.2.0
info:
  description: You can use the Read API to return reviews, questions, and answers left on  your products by your customers. This is helpful especially if you're using  customizations on your website, have a mobile app where you want review content  to appear, or if you want to integrate and feed review data into third-party  software. You can retrieve this information by making GET calls to the Read API.
  version: 1.0.0
  title: Read Services Snippets API
  termsOfService: http://www.powerreviews.com/terms-of-use/
servers:
- url: https://readservices-b2c.powerreviews.com/
tags:
- name: Snippets
  description: Endpoints for product snippets by merchant
paths:
  /m/{merchantId}/l/{locale}/product/{pageIds}/snippet:
    get:
      tags:
      - Snippets
      summary: getProductSnippets
      operationId: getProductSnippetsUsingGET
      parameters:
      - name: apikey
        in: query
        required: true
        description: The API Key PowerReviews provides you.
        schema:
          type: string
      - name: merchantId
        in: path
        required: true
        description: Your unique merchant ID.
        schema:
          type: string
      - name: locale
        in: path
        required: true
        description: The locale of the review data you want to return. This parameter is a two number code for the language and country. For example fr_FR.
        schema:
          type: string
      - name: pageIds
        in: path
        required: true
        description: The unique page id for the product you want to view the snippets for.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    PagingResponse:
      type: object
      properties:
        current_page_number:
          type: integer
          format: int32
        next_page_url:
          type: string
        page_size:
          type: integer
          format: int32
        pages_total:
          type: integer
          format: int64
        total_results:
          type: integer
          format: int64
    ConfigurationResponse:
      type: object
      properties:
        features:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        localizations:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
    QueryResponse:
      type: object
      properties:
        configuration:
          $ref: '#/components/schemas/ConfigurationResponse'
        name:
          type: string
          enum:
          - snippet
          - review
          - questions
          - answers
        paging:
          $ref: '#/components/schemas/PagingResponse'
        results:
          type: array
          items:
            type: object
