openapi: 3.2.0
info:
  description: API for interacting with PowerReviews WriteServices.
  version: 0.0.0
  title: PowerReviews B2B B2B Write a Review API
  termsOfService: https://www.powerreviews.com/terms-of-use/
servers:
- url: https://writeservices.powerreviews.com/
tags:
- name: B2B Write a Review
  description: Endpoints designed to provide external integration to PowerReviews WAR
paths:
  /api/b2b/writereview/review_template:
    get:
      tags:
      - B2B Write a Review
      summary: Get review template
      description: Gets the review template for a given product or service.
      operationId: startReviewUsingGET
      parameters:
      - name: apikey
        in: query
        description: Token used to secure client requests. Please refer to [advanced security options](http://help.powerreviews.com/Content/Support%20Topics/PowerReviews%20Information%20Security%20Policy.htm) for further details.
        required: false
        schema:
          type: string
          format: uuid
      - name: f
        in: query
        description: Feature flag parameter, allowing for overrides of default functionality or that provided by merchant properties.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        description: Locale used for the api call. If not provided, will default to the merchant’s communication locale.
        required: false
        x-example: en_US
        schema:
          type: string
      - name: merchant_group_id
        in: query
        description: PowerReviews assigned MerchantGroup identifier. Use with `site_id`.
        required: false
        schema:
          type: integer
          format: int64
      - name: merchant_id
        in: query
        description: PowerReviews unique identifier for a merchant. Can be used as an alternative to a `merchant_group_id`/`site_id` pair.
        required: false
        schema:
          type: integer
          format: int64
      - name: merchant_user_email
        in: query
        description: Known email address for for a client user.
        required: false
        schema:
          type: string
      - name: merchant_user_id
        in: query
        description: Client internal identifier for a user.  Allows lookup of that user’s saved user profile data within the PowerReviews platform.
        required: false
        schema:
          type: string
      - name: order_id
        in: query
        required: false
        schema:
          type: string
      - name: page_id
        in: query
        description: The term “Page ID” is a PowerReviews proprietary concept. It represents the concept that is being reviewed. Its origination comes from allowing clients to take and display reviews about anything on a given page. For many clients, the item being reviewed on a given page is a product. These clients often use an internal SKU (stock keeping unit) or identifier that represents a product. For other clients, the Page ID can represent a service offering or any unique offering that is being reviewed. The main requirement for the Page ID is that it should be unique with respect to other concepts being reviewed within the same site. When a client implements the PowerReviews solution, it determines which internal identifier to use as the Page ID. When end users write reviews, those reviews will be attached to a Page ID in the PowerReviews system. Clients can then use that Page ID to retrieve those reviews.
        required: false
        schema:
          type: string
      - name: page_id_variant
        in: query
        description: The term “variant” is a PowerReviews proprietary concept. It represents the variation within the Page ID such as different colors, different sizes or other variations. Reviews written about different Page ID + Variant combinations will always roll up and be displayed whenever reviews are requested for just the Page ID. Note that in the PowerReviews database, the reviews are associated down to the Variant level so that the client can understand any trends that occur by color, size or other variation. This can be thought of as a sub-identifier for the `page_id`.
        required: false
        schema:
          type: string
      - name: site_id
        in: query
        description: Client’s internal site identifier. Use with `merchant_group_id`.
        required: false
        schema:
          type: string
      - name: unique_review_id
        in: query
        description: Merchant provided identifier to identify duplicate submissions for a review.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2BReviewData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/b2b/writereview/submit_review:
    post:
      tags:
      - B2B Write a Review
      summary: Submit a review
      description: Submits the given review.
      operationId: submitReviewUsingPOST
      parameters:
      - name: apikey
        in: query
        description: Token used to secure client requests. Please refer to [advanced security options](http://help.powerreviews.com/Content/Support%20Topics/PowerReviews%20Information%20Security%20Policy.htm) for further details.
        required: false
        schema:
          type: string
          format: uuid
      - name: f
        in: query
        description: Feature flag parameter, allowing for overrides of default functionality or that provided by merchant properties.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        description: Locale used for the api call. If not provided, will default to the merchant’s communication locale.
        required: false
        x-example: en_US
        schema:
          type: string
      - name: merchant_group_id
        in: query
        description: PowerReviews assigned MerchantGroup identifier. Use with `site_id`.
        required: false
        schema:
          type: integer
          format: int64
      - name: merchant_id
        in: query
        description: PowerReviews unique identifier for a merchant. Can be used as an alternative to a `merchant_group_id`/`site_id` pair.
        required: false
        schema:
          type: integer
          format: int64
      - name: merchant_user_email
        in: query
        description: Known email address for for a client user.
        required: false
        schema:
          type: string
      - name: merchant_user_id
        in: query
        description: Client internal identifier for a user.  Allows lookup of that user’s saved user profile data within the PowerReviews platform.
        required: false
        schema:
          type: string
      - name: order_id
        in: query
        required: false
        schema:
          type: string
      - name: page_id
        in: query
        description: The term “Page ID” is a PowerReviews proprietary concept. It represents the concept that is being reviewed. Its origination comes from allowing clients to take and display reviews about anything on a given page. For many clients, the item being reviewed on a given page is a product. These clients often use an internal SKU (stock keeping unit) or identifier that represents a product. For other clients, the Page ID can represent a service offering or any unique offering that is being reviewed. The main requirement for the Page ID is that it should be unique with respect to other concepts being reviewed within the same site. When a client implements the PowerReviews solution, it determines which internal identifier to use as the Page ID. When end users write reviews, those reviews will be attached to a Page ID in the PowerReviews system. Clients can then use that Page ID to retrieve those reviews.
        required: false
        schema:
          type: string
      - name: page_id_variant
        in: query
        description: The term “variant” is a PowerReviews proprietary concept. It represents the variation within the Page ID such as different colors, different sizes or other variations. Reviews written about different Page ID + Variant combinations will always roll up and be displayed whenever reviews are requested for just the Page ID. Note that in the PowerReviews database, the reviews are associated down to the Variant level so that the client can understand any trends that occur by color, size or other variation. This can be thought of as a sub-identifier for the `page_id`.
        required: false
        schema:
          type: string
      - name: site_id
        in: query
        description: Client’s internal site identifier. Use with `merchant_group_id`.
        required: false
        schema:
          type: string
      - name: unique_review_id
        in: query
        description: Merchant provided identifier to identify duplicate submissions for a review.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2BReviewData'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteAReviewB2BPostRequest'
        description: request
        required: true
components:
  schemas:
    WriteAReviewB2BPostRequest:
      type: object
      properties:
        browser:
          type: string
        campaign_id:
          type: string
        context_information:
          $ref: '#/components/schemas/WriteAReviewB2BContextInformation'
        disclosure_code:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/BaseReviewField_object'
        iovation_black_box:
          type: string
        ip_address:
          type: string
        order_id:
          type: string
        promo_code:
          type: string
        reviewer_type:
          type: string
        source:
          type: string
        started_timestamp:
          type: string
        submitted_timestamp:
          type: string
      title: WriteAReviewB2BPostRequest
    ErrorMessage:
      type: object
      properties:
        detail:
          type: object
        error_code:
          type: string
        fields:
          type: array
          items:
            type: object
        message:
          type: string
      title: ErrorMessage
    BaseReviewField_object:
      type: object
      properties:
        error_message:
          $ref: '#/components/schemas/ErrorMessage'
        field_type:
          type: string
          enum:
          - simple
          - collection
          - composite
        group:
          type: string
        helper_text:
          type: string
        hidden:
          type: boolean
        id:
          type: string
        key:
          type: string
        label:
          type: string
        required:
          type: boolean
        responsive_hint:
          type: string
      title: BaseReviewField«object»
    B2BReviewData:
      type: object
      properties:
        context_information:
          $ref: '#/components/schemas/WriteAReviewB2BContextInformation'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/BaseReviewField_object'
        started_timestamp:
          type: string
      title: B2BReviewData
    WriteAReviewB2BContextInformation:
      type: object
      properties:
        image_template_id:
          type: integer
          format: int64
        product_id:
          type: integer
          format: int64
        product_template_id:
          type: integer
          format: int64
      title: WriteAReviewB2BContextInformation
