openapi: 3.2.0
info:
  description: You can use the Read API to return reviews, questions, and answers left on  your products by your customers. This is helpful especially if you're using  customizations on your website, have a mobile app where you want review content  to appear, or if you want to integrate and feed review data into third-party  software. You can retrieve this information by making GET calls to the Read API.
  version: 1.0.0
  title: Read Services Reviews API
  termsOfService: http://www.powerreviews.com/terms-of-use/
servers:
- url: https://readservices-b2c.powerreviews.com/
tags:
- name: Reviews
  description: Endpoints for product reviews by merchant
paths:
  /m/{merchantId}/l/{locale}/product/{pageId}/reviews:
    get:
      tags:
      - Reviews
      summary: getProductReviews
      operationId: getProductReviewsUsingGET
      parameters:
      - name: paging.size
        in: query
        required: false
        description: The number of Product Reviews you want to return.
        schema:
          type: integer
          format: int32
      - name: paging.from
        in: query
        required: false
        description: The Review where you want to start returning Product Reviews from. If you want reviews from page one, omit this parameter.
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        description: The order in which you want to return your Product Reviews. Acceptable fields include LowestRating, HighestRating, MostHelpful, Oldest, Newest.
        schema:
          type: string
          enum:
          - HighestRating
          - LowestRating
          - MostHelpful
          - Oldest
          - Newest
      - name: image_only
        in: query
        required: false
        description: If true only return reviews with images
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: apikey
        in: query
        required: true
        description: The API Key PowerReviews provides you.
        schema:
          type: string
      - name: merchantId
        in: path
        required: true
        description: Your unique merchant ID.
        schema:
          type: string
      - name: locale
        in: path
        required: true
        description: The locale of the review data you want to return. This parameter is a two number code for the language and country. For example fr_FR.
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        description: The unique page id for the product you want to view the questions for.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /m/{merchantId}/reviews:
    get:
      tags:
      - Reviews
      summary: getAllReviews
      operationId: getAllReviewsUsingGET
      parameters:
      - name: paging.size
        in: query
        required: false
        description: The number of Product Reviews you want to return.
        schema:
          type: integer
          format: int32
      - name: paging.from
        in: query
        required: false
        description: The review where you want to start returning Product Reviews from. If you want reviews from page one, omit this parameter.
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        description: The order in which you want to return your Product Reviews. Acceptable fields include LowestRating, HighestRating, MostHelpful, Oldest, Newest.
        schema:
          type: string
          enum:
          - HighestRating
          - LowestRating
          - MostHelpful
          - Oldest
          - Newest
      - name: updated_date_query
        in: query
        required: false
        description: If true return reviews based on updated date instead of created date.
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: date
        in: query
        required: true
        description: the starting time where you want to pull product reviews from. Date terminates using today's date. This parameter should be in Unix time in milliseconds.
        schema:
          type: long
      - name: apikey
        in: query
        required: true
        description: The API Key PowerReviews provides you.
        schema:
          type: string
      - name: merchantId
        in: path
        required: true
        description: Your unique merchant ID.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    PagingResponse:
      type: object
      properties:
        current_page_number:
          type: integer
          format: int32
        next_page_url:
          type: string
        page_size:
          type: integer
          format: int32
        pages_total:
          type: integer
          format: int64
        total_results:
          type: integer
          format: int64
    ConfigurationResponse:
      type: object
      properties:
        features:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        localizations:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
    QueryResponse:
      type: object
      properties:
        configuration:
          $ref: '#/components/schemas/ConfigurationResponse'
        name:
          type: string
          enum:
          - snippet
          - review
          - questions
          - answers
        paging:
          $ref: '#/components/schemas/PagingResponse'
        results:
          type: array
          items:
            type: object
