openapi: 3.2.0
info:
  description: You can use the Read API to return reviews, questions, and answers left on  your products by your customers. This is helpful especially if you're using  customizations on your website, have a mobile app where you want review content  to appear, or if you want to integrate and feed review data into third-party  software. You can retrieve this information by making GET calls to the Read API.
  version: 1.0.0
  title: Read Services Configuration API
  termsOfService: http://www.powerreviews.com/terms-of-use/
servers:
- url: https://readservices-b2c.powerreviews.com/
tags:
- name: Configuration
  description: Endpoints for merchant configuration
paths:
  /m/{merchant_id}/l/{locale}/configuration:
    get:
      tags:
      - Configuration
      summary: getConfigurationByMerchant
      operationId: getConfigurationByMerchantUsingGET
      parameters:
      - name: merchant_id
        in: path
        required: true
        description: Your unique merchant ID.
        schema:
          type: integer
          format: int64
      - name: locale
        in: path
        required: true
        description: The locale of the review data you want to return. This parameter is a two number code for the language and country. For example fr_FR.
        schema:
          type: string
      - name: apikey
        in: query
        required: true
        description: The API Key PowerReviews provides you.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    ConfigurationResponse:
      type: object
      properties:
        features:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        localizations:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
